.nav{
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99 !important;
}

/* Set the size of the div element that contains the map */
#map {
    --map-width : 100%;
    height: 600px;
    width: var(--map-width);  /* The width is the width of the web page */
    left: calc((100% - var(--map-width))/2);
}
body{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
}
p{
    margin: 10px
}
header h1 {
    margin: 10px;
}
header > div {
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 50px;
}
header ul {
    display: flex;
    list-style: none;
}
header ul li {
    font-weight: bold;
    margin-right: 3em;
}

.hero-image {
    background-image: url("img/sadsd.png");
    background-color: #cccccc;
    height: 900px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.fit {

}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.button {
    background-color: #2b2b2b;
    border: 4px solid #e2e2e2;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: white; /* Green */
    border: 4px solid #2b2b2b;
    color: black;

}
.title-section{
    text-align: center;
    margin-top: 3em;
    font-size: 2em;
}
.top{
    text-align: center;
    justify-content: center;
    margin-top: 3em;
    font-size: 1em;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.grid3cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid3cols > img{
    max-width: 100%;
    height: auto;
}
img{
    max-width: 100%;
    height: auto;
}
.grid3cols:last-child{
    grid-column: 1/-1;
}
.grid2cols{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.skill{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    display: inline-block;
}
.skill > img{
    background-color: black;
    width: 100%;
}

.teamMemeber{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 500px;
    display: inline-block;
    padding: 20px;
}
.teamMemeber > img{
    background-color: black;
    width: 50%;
}
footer{
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
a{
    text-decoration: none;
}